<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UCI Connected Home</title>
    <link rel="stylesheet" href="./static/style.css">
</head>

<header>
    <div id="home"><a href="home"><img class="logo" src="Connected(2).png"></a></div>

    <div id="nav">
        <nav>
            <ul>
                <li><a href="matches">Matches</a></li>
                <li><a href="messages">Messages</a></li>
                <li><a href="profile">Profile</a></li>
            </ul>
        </nav>
    </div>
</header>

<body>
    <div id="profiles">
        <div class="rows">

            <div class="column left">
                <button class="choice-btn-no"></button>
            </div>
    
            <div class="column middle">
                <div class="profile-image">
                    <img src= "{{ pfp }}" alt="">
                    <div class="profile-text">
                        <!-- <script>
                            const data = JSON.parse(localStorage.getItem('userData'));
    
                            const name = data.name;
                            const age = data.age;
    
                            var documentelementid = "New Content";
                            var element = document.getElementById("bruh");
                            element.innerHTML = documentelementid;
                        </script> -->
                            <h1 class="user-name" id="bruh"> {{ name }} , {{ age }}</h1>
                            <h2 class="user-major">{{ major }}</h2>
                            <p class="bio">{{ bio }}</p>
                    </div>
                </div>

                <div class="gallery">

                    <div class="image">
                        <!-- <a target="_blank" href="https://cdn1.iconfinder.com/data/icons/business-company-1/500/image-512.png"> -->
                            <img src= "{{ pic1 }}" alt="">
                        <!-- </a> -->
                    </div>
                      
                    <div class="image">
                          <img src="{{ pic2 }}" alt="Forest" width="500" height="500">
                    </div>
                      
                    <div class="image">
                          <img src="{{ pic3 }}" alt="Northern Lights" width="500" height="500">
                    </div>
                
                </div>
            </div>
    
            <div class="column right">
                <button class="choice-btn-yes"></button>
            </div>

        </div>
    </div>
</body>

</html>