<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UCI Connected Login</title>
    <link rel="stylesheet" href="./static/style.css">
    <link rel="stylesheet" href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'>
    <script src="users.js"></script>
</head>

<body class="container">
    <div class="login">
        <form action="home.html">
            <h1>Login</h1>

            <div class="input-box"> 
                <input id="email" type="text" placeholder="Email" required>
                <i class='bx bxs-user'></i>
            </div>

            <div class="input-box">
                <input id="password" type="password" placeholder="Password" required>
                <i class='bx bxs-lock-alt'></i>
            </div>

            <button onclick="checkLogin()" type="button" class="btn">Login</button>

            <div class="link">
                <p>Don't have an account? <a href="register.html">Register</a></p>
            </div>
        </form>
    </div>

    <script src="users.js"></script>
    <script>
        function checkLogin() {
            var email = document.getElementById("email").value;
            var password = document.getElementById("password").value;

            fetch("userData.json")
                .then(response => response.json())
                .then(data => {
                    var user = data.users.find(u => u.email === email && u.password === password);
                    if (password.length == 0 || password.length == 0){
                        alert("Blank field detected")
                    } else if (user) {
                        window.location.href = "home.html";
                    } else {
                        alert("Invalid email or password. Please try again.");
                    }
                })
                .catch(error => console.log(error));
        }
    </script>
</body>

</html>