<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UCI Connected Matches</title>
    <link rel="stylesheet" href="./static/style.css">
</head>

<header>
    <div id="home"><a href="home">Home</a></div>

    <div id="nav">
        <nav>
            <ul>
                <li><a href="matches">Matches</a></li>
                <li><a href="messages">Messages</a></li>
                <li><a href="profile">Profile</a></li>
            </ul>
        </nav>
    </div>
</header>

<body>
    <div class="matches">
        <h1>matches</h1>
    </div>
</body>

</html>