<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UCI Connected Matches</title>
    <link rel="stylesheet" href="./static/style.css">
</head>

<header>
    <div id="home"><a href="home"><img class="logo" src="Connected(2).png"></a></div>

    <div id="nav">
        <nav>
            <ul>
                <li><a href="matches">Matches</a></li>
                <li><a href="messages">Messages</a></li>
                <li><a href="profile">Profile</a></li>
            </ul>
        </nav>
    </div>
</header>

<body>
    <div id="matches">
        <h1>matches</h1>
        <div class="match-column">
            <img class="pfp" src="https://t4.ftcdn.net/jpg/00/64/67/63/360_F_64676383_LdbmhiNM6Ypzb3FM4PPuFP9rHe7ri8Ju.jpg">
            <h3 class="name">{{ name }}</h3>
        </div>
        
        <div class="match-column">
            <img class="pfp" src="https://t4.ftcdn.net/jpg/00/64/67/63/360_F_64676383_LdbmhiNM6Ypzb3FM4PPuFP9rHe7ri8Ju.jpg">
            <h3 class="name">{{ name }}</h3>
        </div>
    </div>
</body>

</html>