<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Profile</title>
    <link rel="stylesheet" href="./static/profile.css">
</head>


<header>
  <div id="home"><a href="home"><img class="logo" src="Connected(2).png"></a></div>

  <div id="nav">
      <nav>
          <ul>
              <li><a href="matches">Matches</a></li>
              <li><a href="messages">Messages</a></li>
              <li><a href="profile">Profile</a></li>
          </ul>
      </nav>
  </div>
</header>

<body>

  <div class="container">

    <div class="profile">

      <div class="profile-image">

        <img src="{{ pfp }}" alt="">

      </div>

      <div class="profile-user-settings">

        <h1 class="profile-user-name">{{ name }}, {{ age }}</h1>

        <a href="/profileeditor"><button class="btn profile-edit-btn">Edit Profile</button></a>

        <button class="btn profile-settings-btn" aria-label="profile settings"><i class="fas fa-cog" aria-hidden="true"></i></button>

      </div>

      <div class="profile-major">
        <h3>{{ major }}</h3>
      </div>

      <div class="profile-bio">
        <p>{{ bio }} 📷✈️🏕️</p>
      </div>

    </div>

  </div>

  <div class="gallery">

        <div class="image">
            <img src="{{ pic1 }}" alt="Cinque Terre" width="500" height="500">
        </div>
        
        <div class="image">
          <a target="_blank" href="https://cdn1.iconfinder.com/data/icons/business-company-1/500/image-512.png">
            <img src="https://cdn1.iconfinder.com/data/icons/business-company-1/500/image-512.png" alt="Forest" width="500" height="500">
          </a>
        </div>
        
        <div class="image">
          <a target="_blank" href="https://cdn1.iconfinder.com/data/icons/business-company-1/500/image-512.png">
            <img src="https://cdn1.iconfinder.com/data/icons/business-company-1/500/image-512.png" alt="Northern Lights" width="500" height="500">
          </a>
        </div>
  
  </div>
    
</body>