<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Profile</title>
    <link rel="stylesheet" href="./static/profile.css">
</head>


<header>
  <div id="home"><a href="home.html">Home</a></div>

  <div id="nav">
      <nav>
          <ul>
              <li><a href="matches.html">Matches</a></li>
              <li><a href="messages.html">Messages</a></li>
              <li><a href="profile.html">Profile</a></li>
          </ul>
      </nav>
  </div>
</header>

<body>

  <div class="container">

    <div class="profile">

      <div class="profile-image">

        <img src="https://upload.wikimedia.org/wikipedia/en/0/0e/University_of_California%2C_Irvine_seal.svg" alt="">

      </div>

      <div class="profile-user-settings">

        <h1 class="profile-user-name">Joe Mama, Age</h1>

        <a href="profileeditor.html"><button class="btn profile-edit-btn">Edit Profile</button></a>

        <button class="btn profile-settings-btn" aria-label="profile settings"><i class="fas fa-cog" aria-hidden="true"></i></button>

      </div>

      <div class="profile-major">
        <h3>Ligma</h3>
      </div>

      <div class="profile-bio">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit 📷✈️🏕️</p>
      </div>

    </div>

  </div>

  <div class="gallery">

        <div class="image">
          <a target="_blank" href="https://cdn1.iconfinder.com/data/icons/business-company-1/500/image-512.png">
            <img src="https://cdn1.iconfinder.com/data/icons/business-company-1/500/image-512.png" alt="Cinque Terre" width="500" height="500">
          </a>
          <div class="desc">Add a description of the image here</div>
        </div>
        
        <div class="image">
          <a target="_blank" href="https://cdn1.iconfinder.com/data/icons/business-company-1/500/image-512.png">
            <img src="https://cdn1.iconfinder.com/data/icons/business-company-1/500/image-512.png" alt="Forest" width="500" height="500">
          </a>
          <div class="desc">Add a description of the image here</div>
        </div>
        
        <div class="image">
          <a target="_blank" href="https://cdn1.iconfinder.com/data/icons/business-company-1/500/image-512.png">
            <img src="https://cdn1.iconfinder.com/data/icons/business-company-1/500/image-512.png" alt="Northern Lights" width="500" height="500">
          </a>
          <div class="desc">Add a description of the image here</div>
        </div>
  
  </div>
    
</body>