<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UCI Connected Profile Editor</title>
    <link rel="stylesheet" href="./static/style.css">
</head>

<header>
    <div id="home"><a href="home.html">Home</a></div>

    <div id="nav">
        <nav>
            <ul>
                <li><a href="matches.html">Matches</a></li>
                <li><a href="messages.html">Messages</a></li>
                <li><a href="profile.html">Profile</a></li>
            </ul>
        </nav>
    </div>
</header>

<body>
    <div id="profile-editor">
        <img src="https://t4.ftcdn.net/jpg/00/64/67/63/360_F_64676383_LdbmhiNM6Ypzb3FM4PPuFP9rHe7ri8Ju.jpg" id="profile-pic">
        <label class="image-label" for="input-file">Update Image</label>
        <input class="image-input" type="file" accept="image/png, image/jpg, image/jpeg" id="input-file">
        
        
        <label for="name" id="label-name">Name</label>
        <input type="text" id="name" placeholder="Name">

        <label for="age" id="label-age">Age</label>
        <input type="text" id="age" placeholder="Age">

        <label for="major" id="label-major">Major</label>
        <input type="text" id="major" placeholder="Major">

        <label for="bio" id="label-bio">Bio</label>
        <input type="text" id="bio" placeholder="Talk about yourself!">

        <script>
            let profilePic = document.getElementById("profile-pic");
            let inputFile = document.getElementById("input-file");

            inputFile.onchange = function(){
                profilePic.src = URL.createObjectURL(inputFile.files[0])
            }
        </script>

    </div>
</body>

</html>