<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UCI Connected Register</title>
    <link rel="stylesheet" href="./static/style.css">
    <link rel="stylesheet" href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'>
</head>

<body class="container">
    <div class="register">
        <form action="register" method="post">
            <h1>Register</h1>

            <div class="input-box"> 
                <input id="emailInput" name="emailInput" type="text" placeholder="Email" required>
                <i class='bx bxs-user'></i>
            </div>

            <div class="input-box">
                <input id="passwordInput" name="passwordInput" type="password" placeholder="Password" required>
                <i class='bx bxs-lock-alt'></i>
            </div>

            <button onclick="checkEmail()" type="submit" class="btn">Create Profile</button>

            <div class="link">
                <p>Already have an account? <a href="login.html">Login</a></p>
            </div>

        </form>
    </div>
    
    <script>
        function checkEmail() { 
            const emailInput = document.getElementById('emailInput');
            const passwordInput = document.getElementById('passwordInput');
            const email = emailInput.value;
            const password = passwordInput.value;

            // Check if email is in userData.json
            // You can use AJAX or fetch to make a request to the server and check the email
            dataStructure = {"email": email,
                            "password": password,
                            "name": null,
                            "age": null,
                            "gender": null,
                            "orientation": null,
                            "major": null,
                            "bio": null,
                            "pfp": null
                        }
            // fetch('userData.json')
            //     .then(response => response.json())
            //     .then(data => {
            //         var user = data.users.find(u => u.email === email);
            //         if (user) {
            //             alert('Email already exists');
            //         } else if (passwordInput.value.length < 4) {
            //             alert("Password must be at least 4 characters");
            //         } else {
            //             data.users.push(dataStructure);
            //             fetch('userData.json', {
            //                 method: 'POST',
            //                 headers: {
            //                     'Content-Type': 'application/json',
            //                 },
            //                 body: JSON.stringify(data),
            //             })
            //                 .then((response) => {
            //                     if (!response.ok) {
            //                         throw new Error('Failed to add user to userData.json');
            //                     }
            //                     alert('fail');
            //                 })
            //                 .catch((error) => {
            //                     console.error('Error adding user to userData.json:', error);
            //                     throw error;
            //                 });
            //                 window.location.href = "profileeditor.html" // end case 
        //             }
        //         });
         }
    </script>
        
</body>

</html>